@{
    ViewBag.Title = "Home Page";
}
@section scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(DownloadChartData);

        function DownloadChartData() {
            $.ajax({
                url: '@Url.Action("GetChartData", "Home")',
                success: function (response) {
                    ShowChart(response);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        };
        function ShowChart(data) {
            var options = {
                title: "Title",
                axisTitlesPosition: "axisTitlesPosition",
                legend: {
                    position: "Legend"
                },
                vAxis: {
                    textPosition: "vAxis"
                },
                hAxis: {
                    textPosition: "hAxis"
                }
            };
            var dataTable = new google.visualization.DataTable(data.dataTable);
            var chart = new google.visualization.LineChart(document.getElementById('chart-area'));
            chart.draw(dataTable, options);
        };
        $(window).resize(function () {
            DownloadChartData();
        });
    </script>
}

<div id="chart-area"></div>
